* {
    margin: 0;
    padding: 0;
}

html {
    font: 15px Arial, sans-serif;
}


.grid-container {
    display: grid;
    grid-template-rows: 5fr 5fr 5fr;
    grid-template-columns: 5fr 5fr 5fr;
}

nav {
    width: 100%;
    margin: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

header {
    width: 100%;
    height: 100%;
}

p.a {
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

li {
    margin-right: 2vw;
} 

h1 {
    padding: 16px 10px;
}

.article {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 20px;
}


button {
    background-color: #40e0d0;
    color: whitesmoke;
    border:white;
}

main {
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width: 790px) {
    .grid-container {
        display: grid;
        grid-template-columns: 5fr;
    }
}
